{% extends 'main/base.html' %}

{% block title %}
 Alert!
{% endblock %}
{% block pageHeading %}
 <h1 style="color: red">Logged out</h1>
{% endblock %}

{% block mainContent %}

        <div class="row justify-content-center section-padding03">
            <div class="container">
              <div class="row align-items-end justify-content-center text-center">
                <div class="col-lg-7">
                  <h2 class="mb-0">You have successfully logged out</h2>
                  <p>We are glad that you are using our service, please consider sharing the news with others.</p>
                </div>
              </div>
            </div>
        </div>

{% endblock %}


